
.qmake.stash

bin/

Makefile

*.user

rsbaseeditor/debug/

*.Debug

*.Release

rsbaseeditor/release/

rsrescore/debug/

rsrescore/release/

RsResEditor/debug/

RsResEditor/release/

rsreslbrfn/debug/

RsResEditor/ui_mainwindow.h

.qtc_clangd/.cache/clangd/index/

.qtc_clangd/

rsreslbrfn/rsreslbrfn.pro.SOEGgo

rsreslbrfn/release/

.vscode/

*.autosave

build/Desktop_x86_windows_msvc2019_pe_32bit-Debug/PropertyEditor/debug/

build/Desktop_x86_windows_msvc2019_pe_32bit-Debug/rsbaseeditor/debug/
