[submodule "PropertyEditor"]
	path = PropertyEditor
	url = https://github.com/Smitt64/PropertyEditor
[submodule "ToolsRuntimeProj"]
	path = ToolsRuntimeProj
	url = https://github.com/Smitt64/RsWorkTools.git
